<%- include( 'layout', {body: null}) %>
<section class="contenedor-formulario" style = "margin-top:10.1vh">
    <h1 class="titulo">Editando la prenda "<%= producto.nombre %>"</h1>
    <form action="/productos/editar/<%= producto.id %>" method="POST">
        <div class="producto" style="width: 30%; margin: 0 auto;">
                <img src="/Images/<%= producto.imagen %>" alt="<%= producto.nombre %>">
        </div>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" value="<%= producto.nombre %>" class="input-formulario">
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="" cols="30" rows="10" class="input-formulario"><%= producto.descripcion %></textarea>
            <label for="precio">Precio:</label>
            <input type="number" name="precio" value="<%= producto.precio %>" class="input-formulario">
            <label for="imagen">Imagen:</label>
            <input type="text" name="imagen" value="<%= producto.imagen %>" class="input-formulario">
        <button class="boton" type="submit">Actualizar</button>
    </form>
</section>